.home{
    flex: 4;
}
.form{
    display: flex;
}
.size{
    width: 500px;
   /* margin-left: 15px; */
}
.size2{
    width: 500px;
    margin-left: 15px;
}
.size3{
    width: 830px;

}
.heading{
    margin-left: 25px;
    color: rgba(255, 0, 0, 0.445);
}
.add{
    margin-left: 715px;
}
.addbtn{
    width: 130px;
}